In [8]:
import pandas as pd
import numpy as np

In [9]:
# Load Data
df_orders = pd.read_csv("../Raw data/orders.csv", sep=";")
df_test = pd.read_csv("../Raw data/test.csv", sep=";")
df_cities_data = pd.read_csv("../Raw data/cities_data.csv", sep=";")

### Replace NaN and homogenize

#### TRAIN

In [10]:
df_orders.loc[df_orders['logistic_hub'].isna(),'logistic_hub']="Direct shippment"
df_orders.loc[df_orders['origin_port']=="ATHENAS",'origin_port']="Athens"
df_orders.loc[df_orders['origin_port']=="BCN",'origin_port']="Barcelona"

#### CITIES DATA

In [11]:
df_cities_data.drop(['city_from_coord','city_to_coord'], axis=1, inplace=True)
tmp=df_cities_data
tmp=tmp.rename({'city_from_name':'city_to_name2'}, axis=1)
tmp=tmp.rename({'city_to_name':'city_from_name'}, axis=1)
tmp=tmp.rename({'city_to_name2':'city_to_name'}, axis=1)
tmp = tmp[["city_from_name", "city_to_name", "distance"]]
result=pd.concat([df_cities_data,tmp])
display(result)

    city_from_name city_to_name   distance
0       Dusseldorf     Zaragoza  1214.4772
1       Dusseldorf        Venlo    47.3876
2       Dusseldorf   Bratislava   819.2894
3       Dusseldorf      Hamburg   339.2215
4       Dusseldorf         Rome  1125.0290
..             ...          ...        ...
661       Helsinki    Rotterdam  1560.6484
662         Prague    Rotterdam   726.5575
663       Valencia    Rotterdam  1434.1499
664         Bremen    Rotterdam   320.6459
665          Porto    Rotterdam  1558.0329

[1332 rows x 3 columns]

#### TEST

In [12]:
df_test.loc[df_test['logistic_hub'].isna(),'logistic_hub']="Direct shippment"
df_test.loc[df_test['origin_port']=="ATHENAS",'origin_port']="Athens"
df_test.loc[df_test['origin_port']=="BCN",'origin_port']="Barcelona"

### Save Preprocessed Data

In [13]:
df_orders.to_csv("../data_p1/orders.csv", index=False)
df_test.to_csv("../data_p1/test.csv", index=False)
result.to_csv("../data_p1/cities_data.csv", index=False)